:root {
    --cor-darker:#BF921F;
    --cor-dark: #F2B927;
    --cor-clara:#FBBE28;
    --cor-clara2: #F4CF70;
    --cor-lg: #f5f5f5;

    --fonte-padrao: ---apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.2em;
    background-color: var(--cor-clara2);
    font-family: var(--fonte-padrao);
}

ul {
    list-style: none;
}

.header {
    background: linear-gradient(209deg, rgba(191,146,31,1) 0%, rgba(242,185,39,1) 35%, rgba(244,207,112,1) 100%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.logo {
    width: 200px;
    height: 100px;
}

.logo > a > img {
    display: block;
    width: 100%;
    height: 100%;
}

.menu{
    display: flex;
}

.menu li {
    padding: 20px;
}

.menu li a {
    font-weight: bolder;
    font-size: 1.2em;
    color: #000;
    text-decoration: none;
}

.menu li a:active{
    color: #fff;
}


i.icone{
    font-size: 1.1em;
    display: none;
}

.icone{
    margin-right: 5px;
}

.main-content {
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
    background-color: var(--cor-lg);
    box-shadow: 1px 13px 14px 1px #00000077;
    text-align: center;
    padding: 20px 50px 0px 50px;
}

.home{
    width: 100%;
}

.main-content h1 {
    margin-bottom: 20px;
}

.main-content p {
    text-indent: 50px;
    text-align: justify;
}

.neto-const-cv{
    margin: 0px auto;
    max-width: 400px;
}

.neto-const-cv > img {
    display: block;
    width: 100%;
    height: 230px;
    margin: 80px 0px;
}

.endereco {
    padding: 10px;
    width: 100%;
    margin: 0 auto;
}

.rodape{
    padding: 20px 0px 10px 0px;
    text-align: center;
}

@media (max-width: 815px){

    a.nav-itens{
        display: none;
    }

    i.icone{
        display: block;
    }
}

@media (max-width: 600px){

    .logo{
        display: none;
    }

    .header{
        align-items: center;
        justify-content: center;
    }

    .neto-const-cv > img {
        visibility: hidden;
    }

    .neto-const-cv{
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../imgs/logo-neto-const.png');
    }
}
